{{- with .Values.wopibridge }}
{{- if and .enabled .ingress.enabled }}
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: {{ template "wopiserver.fullname" $ }}-{{ .name }}
  labels: {{- include "wopibridge.labels" $ | nindent 4 }}
  annotations:
    {{- if .ingress.annotations }}
{{ toYaml .ingress.annotations | indent 4 }}
    {{- end }}
spec:
  rules:
    {{- if .ingress.hostname }}
    - host: {{ .ingress.hostname }}
      http:
        paths:
          - path: {{ .ingress.path }}
            backend:
              serviceName: {{ template "wopiserver.fullname" $ }}-{{ .name }}
              servicePort: http
    {{- end }}
  {{- if .ingress.tls }}
  tls:
    {{- toYaml .ingress.tls | indent 4 }}
  {{- end }}
{{- end }}
{{- end }}
