apiVersion: apps/v1
kind: {{ if .Values.useStatefulSet }}{{ "StatefulSet" }}{{- else }}{{ "Deployment" }}{{- end }}
metadata:
  name: {{ include "revad.fullname" . }}
  labels:
    {{- include "revad.labels" . | nindent 4 }}
spec:
  {{- if .Values.useStatefulSet }}
  serviceName: {{ include "revad.fullname" . }}
  {{- end }}
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "revad.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
      labels:
        {{- include "revad.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.http.port }}
              protocol: TCP
            - name: grpc
              containerPort: {{ .Values.service.grpc.port }}
              protocol: TCP
          command:
            - /go/bin/revad
          args:
              - "-c"
              - "/etc/revad/revad.toml"
              - "-p"
              - "/var/run/revad.pid"
          volumeMounts:
            - name: {{ include "revad.fullname" . }}-configfiles
              mountPath: /etc/revad/
            - name: {{ include "revad.fullname" . }}-datadir
              mountPath: {{ .Values.persistentVolume.mountPath }}
              subPath: "{{ .Values.persistentVolume.subPath }}"
            {{- if .Values.extraVolumeMounts }}
              {{ toYaml .Values.extraVolumeMounts | nindent 12 }}
            {{- end }}
          {{- if or .Values.env .Values.extraEnv }}
          env:
          {{- range $name, $value := .Values.env }}
            - name: "{{ $name }}"
              value: "{{ $value }}"
          {{- end }}
          {{- if .Values.extraEnv }}
            {{- toYaml .Values.extraEnv | nindent 12 }}
          {{- end }}
          {{- end }}
          {{- if .Values.envFrom }}
          envFrom:
            {{ toYaml .Values.envFrom | indent 12 }}
          {{- end }}
      volumes:
        - name: {{ include "revad.fullname" . }}-configfiles
          configMap:
            name: {{ template "revad.fullname" . }}-config
      {{- if .Values.extraVolumes }}
        {{ toYaml .Values.extraVolumes | nindent 8 }}
      {{- end }}
    {{- if .Values.persistentVolume.enabled }}
      {{- if .Values.useStatefulSet }}
  volumeClaimTemplates:
    - metadata:
        name: {{ include "revad.fullname" . }}-datadir
        {{- if .Values.persistentVolume.annotations }}
        annotations:
          {{- toYaml .Values.persistentVolume.annotations | indent 10 }}
        {{- end }}
      spec:
        accessModes:
          {{- toYaml .Values.persistentVolume.accessModes | indent 10 }}
        resources:
          requests: 
            storage: "{{ .Values.persistentVolume.size }}"
          {{- if (eq "-" .Values.persistentVolume.storageClass) }}
            storageClassName: ""
          {{- else }}
            storageClassName: "{{ .Values.persistentVolume.storageClass }}"
          {{- end }}
      {{- else }}
        - name: {{ include "revad.fullname" . }}-datadir
          persistentVolumeClaim:
            claimName: {{ if .Values.persistentVolume.existingClaim }}{{ .Values.persistentVolume.existingClaim }}{{- else }}{{ template "revad.fullname" . }}{{- end }}
      {{- end }}
    {{- else }}
        - name: {{ include "revad.fullname" . }}-datadir
          emptyDir:
          {{- if .Values.emptyDir.sizeLimit }}
            sizeLimit: {{ .Values.emptyDir.sizeLimit }}
          {{- else }}
            {}
          {{- end -}}
    {{- end }}
